.flex-container {
    display: flex;
flex-flow: row wrap;
background-color:#49BEB7; 
}

.flex-container > div {
    width: 32%;
    margin:auto;
text-align:center;
}

ol {list-style-type:none;
}
 



h2 a {
color: black;
text-transform: uppercase;

}
.next {
    float: right;
width: 65px;
height: 32px;
padding-bottom: 5px;

}

.flex-container2 {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(253, 254, 255);
   
}
.flex-container2 > div {
    width: 33%;
}

